body{
	margin: 0;
	padding: 0;
}

/*header start*/
header{
	border-bottom: 1px solid transparent;
}
.container {
	overflow: hidden;
	width: 90%;
	border: ;
	margin: 0 auto;
	padding: 1px 0;
	
}

.logo {

	float: left;
	width: 10%;
	/*border: 1px solid black;*/

}

.logo {

}

.logo a img{
	width: 50%;
}

.menu {
	float: right;
	width: 40%;
	/*border: 1px solid black;*/
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
	margin: 0 15px;
	display: inline block;
	font-size: 18px;
	color: white;
	text-transform: capitalize;
}

.menu ul li a:hover{
	color: red;
}


.menu ul li:last-child a{
	margin-right: 0;
}
/*header end*/